header {
	text-align: center;
	background-color: rgb(187, 239, 255);
	padding: 1px;
}
img {
	border-radius: 20px;
	width: 300px;
}
section {
	padding: 1px;
	padding-left: 20px;
	margin-top: 10px;
	border-radius: 20px;
}
#about_me {
	background-color: antiquewhite;
}
#education {
	background-color: rgb(218, 250, 215);
}
#contact_me {
	background-color: #ffdeeb;
}
